# Copy this file to .env and fill in your real API keys and endpoints

WEATHER_API_KEY=
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather

VISION_API_KEY=
VISION_API_URL=https://api.inferdo.com/img/label

ETH_RPC_URL=https://rpc.sepolia.org
CHAINLINK_ORACLE_ADDRESS=
CHAINLINK_JOB_ID=
CHAINLINK_NODE_URL=
CHAINLINK_API_KEY=

IPFS_API_URL=http://ipfs:5001 # Use http://ipfs:5001 for Docker Compose, or your public IPFS gateway URL
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmNjFmMzU0Mi01YmJmLTRjOWItYjliNi1mMjczZTlkOGVjNzEiLCJlbWFpbCI6Im1tbXVyYXlhQG91dGxvb2suY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImRmZGQxMWMzNzI3MDQ5ZTNhNDBkIiwic2NvcGVkS2V5U2VjcmV0IjoiMTNjYjE5NWYxZmMyN2I4NjUzMTFlYTcxOTg5ZWVmNGUwMjliZGRlMmJiNTEwYWFhYjc3YjE0YzE2MWQ0NjVmYSIsImV4cCI6MTc4NjA0NjY4Nn0.LfD1VV9tgGeUdqotU64s3mRunWUp7HSgXlPCYEd_vp8

SHIPMENT_SENDER_PK=0x0000000000000000000000000000000000000000000000000000000000000001
NFT_SENDER_PK=0x0000000000000000000000000000000000000000000000000000000000000002

NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000 # Use http://localhost:8000 for local development, or your public backend API URL for deployment